*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/
data_raw/
*.xlsx
email/
_workgroup/
analysis-output/
xOld/
To Do.txt
EA.csv
Evaluations.csv
SiteEI.csv
Violations.csv
Site.csv
Coordinates.csv
inspections_check/
API_Sites_With_Missing_Coordinates.R
regulatory_actions_processed.csv
regulated_sites_processed.csv
regulatory_actions_processed-fy_summary.csv
*.html
*_OLD.R
*_cache/