*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/
data_raw/
*.xlsx
email/
_workgroup/
analysis-output/
xOld/
To Do.txt
EA.csv
Evaluations.csv
SiteEI.csv
Violations.csv
Site.csv
Coordinates.csv
inspections_check/
API_Sites_With_Missing_Coordinates.R
regulatory_actions_processed.csv
regulated_sites_processed.csv
regulatory_actions_processed-fy_summary.csv
2021_03_presentation/_notes/*
_notes/
*.html
*_OLD.R
*_cache/
*.pptx

CES_ZipCode_App.R
Redline-CES3-Analysis-Shiny.RMD
_data_raw/
_data_regulatory_actions/
data_zip_codes/
_storymap/*

!_storymap/*.R
!presentation_march_2021/*.html
!2021_03_presentation/*.html
!2021_11_presentation/*.html

ArcGIS_hub/