.gdbar img {
  width: 400px !important;
  height: 97px !important;
  margin: 0px 0px;
}

.gdbar {
  width: 440px !important;
  height: 115px !important;
}

slides > slide:not(.nobackground):after {
  content: '';
}

slides > slide:not(.nobackground):before {
  width: 200px;
  height: 49px;
  background-size: 200px 49px;
}

